@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
/* Dimensiones A4 */
/* 595 x 842 */

:root {
    --color-black: #1F2421;
    --color-white: #EFF1F3;
    --color-blue: #01A7C2;
    --color-orange: #FE654F;
    --color-grey: #344055;
    --bg-color-white: #F7F7FF;
}


html {
    font-size: 16px;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.4;
    letter-spacing: 1.4px;
}

ul, li {
    list-style: none; 
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
    margin-top: 2rem;
    text-align: center;
}

h1 + p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

h3 {
    letter-spacing: 2.5px;
}

h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background-color: var(--color-grey);
    margin-top: 15px;
}

h5 {
   margin: 0;
   margin-bottom: 0.3rem;
}

span {
    font-size: 0.7rem;
    text-transform: uppercase;
}

h3, h5 {
    font-weight: lighter;
    text-transform: uppercase;
}

h3, p, h5 {
   color: var(--color-grey); 
}


.contenedor {

    /* 1-Tamaño maximo del elemento */
    max-width: 595px;

    height: 842px;

    /* 2-Centrar elemento */
    margin-left: auto;
    margin-right: auto;

    /* 3-Definir bordes */
    border-color: var(--color-black);
    border-width: 2px;
    border-style: solid;
}

.caja-flexible {
    display: flex;
}

.columnas {
    flex-direction: column;
}

.margen-derecho-1 {
    margin-right: 0.5rem;
}

.margen-derecho-2 {
    margin-right: 1rem;
}

.margen-fondo-2 {
    margin-bottom: 1rem;
}

.margen-fondo-3 {
    margin-bottom: 1.5rem;
}

.centrar-vertical {
    align-items: center;   
}

.section1 {
    max-width: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}


/* Aplicar reglas de estilo para los elementos de tipo
article dentro de la clase section1 */
.section1 > article {
    margin-bottom: 2rem;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    
    /* 2-Centrar elemento */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: block;
}

.section2 {
    max-width: 70%;
    background-color: var(--bg-color-white);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}